---

export interface Props {
  facilityPaths?:{facilityName:string, dateModified:string, facilityPath:string}[],
  statePath?:string,
  facilityName?:string,
  type?:string,
  stateName?:string,
  dateModified?:string,
  data?:[],
  test?:string
  slug?:string
}

// const { data, type, statePath, slug  } = Astro.props as any
const {data } = Astro.props as any
const {updatedOn, title, path, facilityName, slug,   stateName, city, county, state, facility, address, phone} = data.props.post
---
<section >
	
	<h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">How to Find Someone in {facilityName}  </h2>
<div class="flex flex-col lg:flex-row items-center justify-between" style="  display:flex; width: 100%;  align-items: center;
"
>
<div class="w-full lg:w-1/4 mb-8 lg:mb-0 h-full border-1 border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800 rounded-lg shadow-xl overflow-hidden" style="margin:2%; padding:2%">
		
  <h3 class="text-2xl text-center lg:text-xxl  text-gray-800 dark:text-gray-100 mb-4 font-bold ">
	  Step 1
  </h3>
 
	  <p class="text-gray-600 dark:text-gray-400 text-sm mb-6">
		Go to <a target="_blank" href="/">victim-assist.com</a> to start a search for your inmate. First, click "Get Started" and enter your inmate's first and last name.
	  </p>

   
  </div>
  <div class="w-full lg:w-1/4 mb-8 lg:mb-0 h-full border-1 border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800 rounded-lg shadow-xl overflow-hidden" style="margin:2%; padding:2%">
		
	<h3 class="text-2xl text-center lg:text-xxl  text-gray-800 dark:text-gray-100 mb-4 font-bold ">
		Step 2 
	</h3>
   
		<p class="text-gray-600 dark:text-gray-400 text-sm mb-6">
		  Make sure to check if your inmate's facility is county, state, or federal.
		</p>

		
	</div>
	<div class="w-full lg:w-1/4 mb-8 lg:mb-0 h-full border-1 border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800 rounded-lg shadow-xl overflow-hidden" style="margin:2%; padding:2%">
		
	  <h3 class="text-2xl text-center lg:text-xxl  text-gray-800 dark:text-gray-100 mb-4 font-bold ">
		  Step 3
	  </h3>
	 
		  <p class="text-gray-600 dark:text-gray-400 text-sm mb-6">
			Find your inmate and select from the list of services designed to help you keep in touch.
		  </p>

	  </div>
  <div class="w-full lg:w-1/4 mb-8 lg:mb-0 h-full border-1 border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800 rounded-lg shadow-xl overflow-hidden " style="margin: 2%; padding:2%;">
	
	  <!-- <h2 class="text-2xl text-center lg:text-3xl font-bold text-gray-800 dark:text-gray-100 mb-4  ">
		  How it Works
	  </h2> -->
	  <h3 class="text-2xl text-center lg:text-xxl  text-gray-800 dark:text-gray-100 mb-4 font-bold " style="margin: 5%;">
		  Step 4 
	  </h3>
	  <p class="text-gray-600 dark:text-gray-400 text-sm mb-6">
		Finally, you'll need to register an account with Victim Assist, and we'll provide you with your loved one's contact information. (Don't worry, registration is completely free!)
	  </p>
	  
  </div>
</div>
	
		
	

</section>
<div class="sm:text-lg text-gray-600 dark:text-gray-300 lg:mx-auto opener">
	<section class="correction_section4" id="sid0"> 
		<div class="container">
			
					<div class="">
						<br/><h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">Inmate Calling to {facilityName}, {county}, {state}</h2><br/>
					<p>Phone calls with your inmates at {facilityName} can burn a hole in your wallet if you aren't careful. To make sure you don't spend your savings, Victim Assist assures you the cheapest rates by connecting you through a local carrier in {state}. Now you can reach your inmates without worrying about limiting your conversation.
	Get in touch with one of our <a href="/">Inmate Service</a> Specialists for assistance with inmate calls at {facilityName}.
	</p>
					
					</div>
		
		</div>
	</section>
	<section class="correction_section5" id="sid1">
		<div class="container">
			<br/><h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">Receiving Inmate Phone Calls From {facilityName}
	</h2><br/>
			<div class="">
						<p>To receive collect calls from your inmates at {facilityName}, you need to be on their approved calling list. Calls are monitored by the facility for security reasons, and specific times are provided for inmates to make collect calls to their families.</p>

	<p>Contact {facilityName} to learn about their service provider to set up a prepaid phone account. Or, contact <a href="/contact">Victim Assist</a>. We can set up your account on your behalf and allow you to start receiving calls from your incarcerated loved ones right away.</p>
			</div>
					
		
			</div>
			
		
	</section>
	<section class="correction_section4" id="sid2">
		<div class="container">
			
					<div class="">
						<br/><h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">Adding Money to an Inmate's Phone Account at {facilityName}</h2><br/>
						<p>To communicate with family, inmates need to register a prepaid calling account with {facilityName}. Once created, family members of an inmate can <a href="/send-money-to-inmate/">deposit money</a> into their account, which they can use to buy commissary and calls to their loved ones.
	Families may put money on phone calls for inmates online or by contacting one of our <a href="/contact">Inmate Service Specialists</a>. Contact {facilityName} for your inmate number to get started. 

					</p>
					
					</div>

		</div>
	</section>
	<section class="correction_section5" id="sid3">
		<div class="container">
			<br/><h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">How to Accept Collect Calls from {facilityName}</h2><br/>
			<div class="">
				<p>If you currently use a cell phone or a VoIP phone, you won't be able to accept collect calls from your inmate. To <a href="/inmate-calling/">accept collect calls </a> from your inmate's facility, you need to create an account with {facilityName} or call us. All collect calls must be approved by {facilityName}. Once approved, Victim Assist can help you communicate with your incarcerated loved ones by setting you up with a forwarding phone number.
	</p>
			</div>
					
		
			</div>
			
		
	</section>
	<section class="correction_section4" id="sid4">
		<div class="container">
			
					<div class="">
						<br/><h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">Unlimited Inmate Calls to {facilityName}</h2><br/>
					<p><a href="/contact">Victim Assist</a> does not limit talk time and makes sure you stay connected with your inmates. We provide unlimited calls for your inmates. Get registered in less than an hour and start talking with your inmate. Contact {facilityName} for your inmate's details and get in touch with us to register for unlimited calls.


					</p>
					
					</div>

		</div>
	</section>
	<section class="correction_section5" id="sid5">
		<div class="container">
			<br/><h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">Add Calling Money with Global Tel Link for {facilityName}</h2><br/>
			<div class="">
						<p>You can now send money to your inmates by linking your Global Tel Link account with your inmate's account at {facilityName}. Contact the facility for your inmate number and a list of commissary items that you are allowed to send.
	For setting up a prepaid calling account, get in touch with our Inmate Service Specialist at 1.800.323.9895. Contact {facilityName} for your inmate details to complete the registration process.
	</p>
			</div>
					
		
			</div>
			
		
	</section>
	<section class="correction_section4" id="sid6">
		<div class="container">
			
					<div class="">
						<br/><h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">Corrlinks at {facilityName}</h2><br/>
					<p>{facilityName} understands that sometimes it will be difficult for you to connect with your inmate through calls. That is why text and mailing services are provided to inmate family members through Corrlinks. To add your inmates and begin communicating with them, contact Corrlinks and ask about the offers for the families of the inmates.
	If you need any help getting setup with this process, reach out to Victim Assist's Service Specialists at 1.800.323.9895.</p>
					
					</div>

		</div>
	</section>
	<section class="correction_section5" id="sid7">
		<div class="container">
			<br/><h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">Inmate Phone Cards</h2><br/>
			<div class="">
						<p>Connecting and communicating with your inmate can be challenging at times. That is why many companies provide phone cards to inmates to make calls to their friends and family. Phone cards may be purchasable at {facilityName} by family members of inmates at an affordable cost. You can control your inmate's calling costs by planning a monthly phone bill budget. Reach out to {facilityName} for details about your inmate and visit the website to purchase a phone card for them to keep the conversation going.

	</p>
			</div>
					
		
			</div>
			
		
	</section>
	<section class="correction_section4" id="sid8">
		<div class="container">
			
					<div class="">
						<br/><h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">Prepaid Inmate Calls</h2><br/>
					<p>Prepaid calls from {facilityName} are hosted by Victim Assist to ensure you don't miss a call from your inmate.
	To know more about Global Tel Link, the Global Tel Link app, the jail phone system, or how to add money for jail calls at {facilityName}, contact us with the following information:

	Phone Number: 1.800.323.9895
	Email: support@pigeon.ly

	We believe in helping our customers navigate this difficult time. Feel free to reach out to us if you prefer to speak to one of our specialists or for any clarification.
	</p>
			<div id="reviewShowcaseWidget" style="padding-bottom: 2%;padding-left: 5%;padding-right: 5%;"><div id="reviewShowcaseWidgetInner" class="stjr-widget"></div></div>		
					</div>

		</div>
	</section>
	<section class="correction_section5" id="sid9">
		<div class="container">
			<h3 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-xl">Disclaimer</h3>
			<div class="">
						<p>You may not use our service or the information it provides to make decisions about consumer credit, employment, insurance, tenant screening, or any other purpose that would require FCRA compliance.</p>

			</div>

			</div>	
		
	</section>
</div>
<style>
    a{
        color: #00a2ff;
    }

</style>