---

export interface Props {
  facilityPaths?:{facilityName:string, dateModified:string, facilityPath:string}[],
  statePath?:string,
  facilityName?:string,
  type?:string,
  stateName?:string,
  dateModified?:string,
  data?:[],
  test?:string
  slug?:string
}

// const { data, type, statePath, slug  } = Astro.props as any
const {data } = Astro.props as any
const {updatedOn, title, path, facilityName, slug,   stateName, city, county, state, facility, address, phone} = data.props.post


---
<section >
	
	<h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">How to Find Someone in {facilityName}  </h2>
<div class="flex flex-col lg:flex-row items-center justify-between" style="  display:flex; width: 100%;  align-items: center;
"
>
<div class="w-full lg:w-1/4 mb-8 lg:mb-0 h-full border-1 border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800 rounded-lg shadow-xl overflow-hidden" style="margin:2%; padding:2%">
		
  <h3 class="text-2xl text-center lg:text-xxl  text-gray-800 dark:text-gray-100 mb-4 font-bold ">
	  Step 1
  </h3>
 
	  <p class="text-gray-600 dark:text-gray-400 text-sm mb-6">
		Go to <a target="_blank" href="/">victim-assist.com</a> to start a search for your inmate. First, click "Get Started" and enter your inmate's first and last name.
	  </p>

   
  </div>
  <div class="w-full lg:w-1/4 mb-8 lg:mb-0 h-full border-1 border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800 rounded-lg shadow-xl overflow-hidden" style="margin:2%; padding:2%">
		
	<h3 class="text-2xl text-center lg:text-xxl  text-gray-800 dark:text-gray-100 mb-4 font-bold ">
		Step 2 
	</h3>
   
		<p class="text-gray-600 dark:text-gray-400 text-sm mb-6">
		  Make sure to check if your inmate's facility is county, state, or federal.
		</p>

		
	</div>
	<div class="w-full lg:w-1/4 mb-8 lg:mb-0 h-full border-1 border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800 rounded-lg shadow-xl overflow-hidden" style="margin:2%; padding:2%">
		
	  <h3 class="text-2xl text-center lg:text-xxl  text-gray-800 dark:text-gray-100 mb-4 font-bold ">
		  Step 3
	  </h3>
	 
		  <p class="text-gray-600 dark:text-gray-400 text-sm mb-6">
			Find your inmate and select from the list of services designed to help you keep in touch.
		  </p>

	  </div>
  <div class="w-full lg:w-1/4 mb-8 lg:mb-0 h-full border-1 border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800 rounded-lg shadow-xl overflow-hidden " style="margin: 2%; padding:2%;">
	
	  <!-- <h2 class="text-2xl text-center lg:text-3xl font-bold text-gray-800 dark:text-gray-100 mb-4  ">
		  How it Works
	  </h2> -->
	  <h3 class="text-2xl text-center lg:text-xxl  text-gray-800 dark:text-gray-100 mb-4 font-bold " style="margin: 5%;">
		  Step 4 
	  </h3>
	  <p class="text-gray-600 dark:text-gray-400 text-sm mb-6">
		Finally, you'll need to register an account with Victim Assist, and we'll provide you with your loved one's contact information. (Don't worry, registration is completely free!)
	  </p>
	  
  </div>
</div>
	
		
	

</section>
<div class="sm:text-lg text-gray-600 dark:text-gray-300 lg:mx-auto opener">
<section class="correction_section4" id="sid1">
	<div class="container">
		
				<div class="">
					<h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">Trust Account at  {facilityName} </h2>
					<p>A trust account gets created when an <a href=".">inmate is booked in {facilityName} </a>, enabling inmates to buy items and to pay various medical services and jail fees. Depositors sending cash and items must include the jail number with their details (name and address). If this information is missing on the deposited items, the facility will return the items to the depositor. Funds can be added through three modes to the inmate's account. Contact <a href="/">Victim Assist</a> for more information on inmate money accounts at {facilityName}.</p>
				
				</div>
	
	</div>
</section>
<section class="correction_section5" id="sid2">
	<div class="container">
		<br/> <h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl" >Commissary Items and Online Fees </h2>
		<div class="">
					<p>Inmates are allowed to buy commissary items such as hygiene items and snacks during their incarceration. Money spent will be deducted from their account. Pricing for these items may vary depending on the <a href=".">department of correction rules</a>. Families and friends can deposit money in their inmate's account, but first, they need to create an account through the {facilityName} website to deposit money on the inmate's behalf. Money will be credited to the inmate's account once the transaction is complete. {facilityName} might charge an online fee for the deposit. Contact the facility for more information on their online fees and the amount. Please note: deposits cannot be sent over the phone by contacting {facilityName}. Contact <a href="/">Victim Assist</a> for more information!</p>
		</div>
				
	
		</div>
		
	
</section>
<section class="correction_section4" id="sid3">
	<div class="container">
		
				<div class="">
					<br/> <h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">MoneyGram Transfer to {facilityName} </h2>
				<p>MoneyGram, is another easy way for families and friends to send money to an inmate. To send money, you need to contact{facilityName} for your inmate's correctional ID. Next, contact the nearest MoneyGram agent and provide them your name, inmate's name, along with their correctional ID, facility code, and the amount you want to send. Or, contact <a href="/">Victim Assist</a> to learn about other ways you can <a href="/send-money-to-inmate/">send money to an inmate!</a></p>
				
				</div>

	</div>
</section>
<section class="correction_section5" id="sid4">
	<div class="container">
		<br/> <h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">Offender Connect at {facilityName} </h2>
		<div class="">
					<p> To make <a href="/inmate-calling/">phone calls to and from {facilityName}</a>, consider creating an Offender Account for your inmate. An Offender Account allows them to make phone calls. Inmates need to register a number and provide a list of contacts for the prison to approve. When an inmate calls loved ones, the cost will be deducted from their Offender Account. Families need to contact {facilityName} for an inmate's ID, which will be required to create an account.</p>

<p>Families can contact Global Tel Link (GTL) to deposit funds in their inmate's account or by contacting Victim Assist. You can also contact <a href="/">Victim Assist</a> to learn of additional ways to <a href="/send-money-to-inmate/">deposit money</a> for your inmate.
</p>
		</div>

		</div>	
	
</section>
<section class="correction_section6" id="sid5">
	<div class="container">
	
				<div class="">
					<br/> <h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">Inmate Commissary - {facilityName}</h2>
				<p>Inmate Commissary is a fast and secure way for friends and families to send funds to an inmate. Inmates can receive these funds in{facilityName} through MoneyGram or Western Union. Please contact {facilityName} before sending commissary funds to check if your inmate has physically arrived at the facility. Funds can be transferred online or by visiting the nearest MoneyGram agent. Contact <a href="/">Victim Assist</a> for more information.</p>
 <p>Once funds are received, inmates can purchase items from the facilities provided canteen services through their inmate commissary account. Inmate accounts are funded by friends and families or through earned wages. Funds can be deposited into their account via mail, kiosk, online, or by calling our executives. To send funds through the mail, contact the {facilityName} for your inmate's registered ID, name, and the facility's details. Please contact {facilityName} for a list of available commissary items, or reach out to <a href="/">Victim Assist</a> for more information. </p>
				</div>	
			</div>
		
</section>
<section class="correction_section5" id="sid6">
	<div class="container">
	
				<div class="">
					<br/> <h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">Money on Books with TouchPay</h2>
				<p>{facilityName} allows friends and families to deposit money into an inmate's book account in several ways. Deposit time and fees vary. {facilityName} allows the funds to be deposited and transferred through TouchPay. You can transfer money through a TouchPay kiosk located in the facility lobby. Funds deposited into a book account via card or cash get transferred immediately. If you cannot<a href="./visitation"> visit {facilityName}</a>, you can also transfer funds by calling our executives or<a href="/"> visiting our website</a>.
</p>
				</div>
				
			</div>
		
</section>
<section class="correction_section6" id="sid7">
	<div class="container">
	
				<div class="">
					<br/> <h2 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl">Contact Us</h2>
				<p>We believe in serving our customers to the best, if you prefer to speak to one of our executives for any clarification, you can reach us at:</p>
				<p>Number: 1.800.323.9895</p>
				<p>Email: support@pigeon.ly</p>
				</div>
					<div id="reviewShowcaseWidget" style="padding-bottom: 2%;padding-left: 5%;padding-right: 5%;"><div id="reviewShowcaseWidgetInner" class="stjr-widget"></div></div>
			</div>
		
</section>
<section class="correction_section5">
	<div class="container">
	
				<div class="">
					<h3 class="mt-1 text-xl leading-6 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-xl">Disclaimer</h3>
				<p>You may not use our service or the information it provides to make decisions about consumer credit, employment, insurance, tenant screening, or any other purpose that would require FCRA compliance.</p>
				</div>
				
			</div>
		
</section>
</div>
<style>
    a{
        color: #00a2ff;
    }

</style>