---
import type { MarkdownInstance, Page, PaginateFunction } from 'astro'
import type { Frontmatter } from '../../../../config'
// import  { getNameFunc } from './helpers.astro'
import { SiteMetadata, PAGE_SIZE } from '../../../../config'
import Base from '../../../../layouts/base-2.astro'
import PageHero from '../../../../components/pagehero.astro'
import BlogRoll from '../../../../components/blogroll.astro'
import PaginateControl from '../../../../components/paginatecontrol.astro'
import FacilityBlogRoll from '../../../../components/blogroll/blogroll-facility-page.astro'
// import PaginateControl from '../../../components/paginatecontrol.astro'
// import Hero from '../../../components/hero/hero.astro'
import Sections from '../../../../components/facilitypagesections/sections.astro'
import BodySections from '../../../../components/facilitypagesections/body-sections.astro'


//add cache control on api calls
// Astro.response.headers.set('Cache-Control', 'max-age=0, s-maxage=604800, stale-while-revalidate=59')
//split states by city

Astro.response.headers.set('Cache-Control', 'max-age=0, s-maxage=604800, stale-while-revalidate=59')
let {post} = Astro.props;

 let { state, facility  } = Astro.params;


let {updatedOn, title, path, facilityName, county,city,   stateName, slug} = post.props.post
let cleanState = post.props.post.state;

export function getTitleDesc(cleanState:string, facilityName:string, county:string, slug: any, city:string) {
let title='';
let desc='';
  

  switch (slug) {
    case 'visitation':
      
     title=facilityName + " Visitation | "  + cleanState;
      title = title.length > 60 ? 'Visit ' + facilityName : title
      
      desc = `Visiting ${facilityName} and need visit hours? | Use Claims Advocacy free to find any ${county} DOC inmate | Save 70% on prison calls, photos, commissary  & more.`
  //     desc = desc.length > 200 ? `Free inmate locator to any ${county}, ${cleanState} DOC facility. Save 70% on jail and prison calls, photos, mail letters, commissary nationwide`
  //  : desc

      break;     

    case 'send-inmate-money-commissary':
      title=facilityName + " Commissary | "  + cleanState;
      // $facility_name Commissary | $facility_state
      title = title.length > 60 ? facilityName + " Commissary" : title
      
      desc =`Put money on books at ${facilityName} Inmate Trust Account. Send inmate money to any ${city}, ${cleanState} to make jail deposits free of hassle. Use Claims Advocacy to add prison funds today.`
  //     desc = desc.length > 200 ? `Free inmate locator to any ${county}, ${cleanState} DOC facility. Save 70% on jail and prison calls, photos, mail letters, commissary nationwide`
  //  : desc

      break;

    case 'inmate-calling':

       title =  facilityName + " Calls | " + cleanState;
       title = title.length > 60 ? facilityName + " Call" : title
       desc = `Cheap Prison and Jail Calls to ${facilityName} | Phone calls to any facility in ${county}, ${city}, ${cleanState}. Save 70% on collect calls from prison, commissary & more.`;
  //      desc = desc.length > 200 ? `Free inmate locator to any ${county}, ${cleanState} DOC facility. Save 70% on jail and prison calls, photos, mail letters, commissary nationwide`
  //  : desc


      break;

    case 'write-a-prisoner':
      title=facilityName + " Mail | "  + cleanState; 
      title = title.length > 60 ? facilityName + " Mail"  : title
      
      desc=`Write a Prisoner at ${facilityName} | Send inmate mail and letters to a ${county} jail, ${cleanState} prison, federal correctional facility. Use Claims Advocacy free of hassle for email info, inmate lookup and to on phone calls.`
  //     desc = desc.length > 200 ? `Free inmate locator to any ${county}, ${cleanState} DOC facility. Save 70% on jail and prison calls, photos, mail letters, commissary nationwide`
  //  : desc

      break;

    default:
      title=facilityName + " Inmate Lookup | "  + cleanState;
      title = title.length > 60 ? facilityName + " | "  + cleanState : title
      
      desc=`Free inmate locator to any ${county}, ${cleanState} DOC facility. Save 70% on jail and prison calls, photos, mail letters, commissary |  All County Jail, Federal BOP & State Prisons`
      desc.length > 200 ? `Free inmate locator to any ${county}, ${cleanState} DOC facility. Save 70% on jail and prison calls, photos, mail letters, commissary nationwide`
   : desc

      break
  }
  
    return {title, desc, slug}
}



let finalTitlDesc = getTitleDesc(cleanState, facilityName, county, slug, city,);



const frontmatter: Frontmatter = {
  title: finalTitlDesc.title,
  description: finalTitlDesc.desc, 
  publishDate: SiteMetadata.buildTime,
}

 let currentCity = finalTitlDesc;

 
export async function getName(state:string) {
   let finalTitlDesc = "nex";

  let finalName = ".replace(/-/g, ' ')";
  return finalName;
}

export let test = "ssstest"



export let thisState = "9966775757676";

// console.log(5599934343434, state,988,thisState)

 let piet = {
  title: finalTitlDesc.title,
  description: finalTitlDesc.desc, 
  publishDate: SiteMetadata.buildTime,
}


export let gstest = getName("piet");


export let sfinalTitlDesc = await testGetTitleDesc("Astro", {city:"finalTitlDesc"} );

export async function testGetTitleDesc(cleanState:string, props:any) {

   cleanState = cleanState + "4242";
  return  cleanState
}


export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {


// const inmate_calling = await fetch(
//   'https://beautiful-peony-0b2daf.netlify.app/.netlify/functions/neo-api-inmate-calling'
// ).then((res) => res.json());

// const inmate_calling_lg = await fetch(
//   'https://beautiful-peony-0b2daf.netlify.app/.netlify/functions/neo-api-inmate-calling-lg'
// ).then((res) => res.json());

// const inmate_calling = await fetch(
//   'http://localhost:8888/.netlify/functions/neo-api-inmate-calling'
// ).then((res) => res.json());


// const inmate_calling = await fetch(
//   'https://victim-assist-prod-blog-o03n238b6-victim-assist.vercel.app/api/neo-api-inmate-calling.json'
// ).then((res) => res.json());

// const inmate_calling_lg = await fetch(
//   'https://victim-assist-prod-blog-o03n238b6-victim-assist.vercel.app/api/neo-api-inmate-calling-lg.json'
// ).then((res) => res.json());

// const inmate_calling = await fetch(
//   'http://localhost:3000/neoapi/neo-api-inmate-calling.json'
// ).then((res) => res.json());

// const inmate_calling_lg = await fetch(
//   'http://localhost:3000/neoapi/neo-api-inmate-calling-lg.json'
// ).then((res) => res.json());


// const inmate_calling_lg = await fetch(
//   'http://localhost:8888/.netlify/functions/neo-api-inmate-calling-lg'
// ).then((res) => res.json());

// const inmate_calling = await fetch(
//   'https://victim-assist-prod-blog-8esab2mg2-victim-assist.vercel.app/neoapi/neo-api-inmate-calling.json'
// ).then((res) => res.json());


// const inmate_calling_lg  = await fetch(
//   'https://victim-assist-prod-blog-8esab2mg2-victim-assist.vercel.app/neoapi/neo-api-inmate-calling-lg.json'
// ).then((res) => res.json());



// let combinedResponses = [].concat(inmate_calling.message, inmate_calling_lg.message);
// let combinedResponses = [].concat(inmate_calling.message); 

// let finalResponses = {message:combinedResponses}


 let response2 = {
  message: [
    {
      state: 'Alabama',
      facility: 'hackleburg-jail',
      title: 'Hackleburg Jail',
      updatedOn: '12-16-2022',
      stateName: 'alabama',
      path: 'hackleburg-jail',
      slug: 'inmate-calling',
      slugPath: 'inmate-calling',
      facilityName: 'Hackleburg Jail',
      city: 'Hackleburg',
      county: 'Marion County',
      locator: 'Use Our Free Inmate Locator',
      address: '314 First Avenue, Hackleburg, AL, 35564',
      phone: '205-935-5195'
    },
    {
      state: 'Massachusetts',
      facility: 'new-bedford-police-jail',
      title: 'New Bedford Police Jail',
      updatedOn: '12-16-2022',
      stateName: 'massachusetts',
      path: 'new-bedford-police-jail',
      slug: 'visitation',
      slugPath: 'visitation',
      facilityName: 'New Bedford Police Jail',
      city: 'New Bedford',
      county: 'Bristol County',
      locator: 'Use Our Free Inmate Locator',
      address: '871 Rockdale Avenue, New Bedford, MA, 02740',
      phone: '508-991-6300'
    },
    {
      state: 'Georgia',
      facility: 'nelson-jail',
      title: 'Nelson Jail',
      updatedOn: '12-16-2022',
      stateName: 'georgia',
      path: 'nelson-jail',
      slug: 'visitation',
      slugPath: 'visitation',
      facilityName: 'Nelson Jail',
      city: 'Nelson',
      county: 'Cherokee County',
      locator: 'Use Our Free Inmate Locator',
      address: '1985 Kennesaw Avenue\n PO Box 100, Nelson, GA, 30151',
      phone: '770-735-2211'
    },
    
  ]
}


// let response2 
let newFacs = response2.message.map( (res: {
  // let newFacs = finalResponses.message.map( (res: {
   state: string, 
   facility: string,
    title: string, 
    updatedOn: string,
    stateName:string,
    path:string,
    facilityName:string,
    city: string,
    county: string,
    locator: string,
    address: string,
    phone: string,
    slug:string,
    slugPath:string

}) =>{
      
      let {updatedOn, title, path, facilityName,    stateName, city, county, state, facility, address, phone, locator, slug, slugPath} = res
      slug == undefined || slug == '' ? slug=' ' : slug;
  
    facility = facility.replace("/" , " ")
  facilityName = facilityName.replace("/" , " ");
  title = title.replace("/" , " ");
      let finalUrl = { 
        
        params: { state:stateName, facility, calling:slug, }, 
          props:  { post:{
            title, updatedOn,stateName,path,facilityName,city,county,locator,address,phone,slug, state, slugPath
        }
      } 
    }

    
    return finalUrl

})

  return newFacs.map((post: { params: any }) => {
// console.log(545454545,post)
    return {
      params:  post.params as any ,
      props: { post } };
  });



}

// console.log(post, )

---

<Base frontmatter={frontmatter}>
  
  <Sections data={post} stateName={state as string} statePath={facility as string} 
  facilityName={post.props.post.title as string}  type={"facility-page"} slug={slug as string}  />
  
  <FacilityBlogRoll 
  data={post} stateName={state as string} statePath={facility as string} 
  facilityName={post.props.post.title as string}  type={"facility-page"} slug={slug as string}/>
  
  <BodySections data={post} stateName={state as string} statePath={facility as string} 
  facilityName={post.props.post.title as string}  type={"facility-page"} slug={slug as string} />
   
  <!-- <CTA type="how-it-works" /> -->
  <div class="p-24 md:p-12 bg-white dark:bg-black"></div>
 
</Base>