---
import type { MarkdownInstance, Page, PaginateFunction } from 'astro'

let {post} = Astro.props;

 let { state, facility, slug  } = Astro.params;


let {path, statusCodeMatch, facId,  LandingPage, oldFacSlug, redirectUrl3} = post.props.post


export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {



// const redirects = await fetch(
//   'https://victim-assist-prod-blog-so2toll-victim-assist.vercel.app/neoapi/neo-api-redirects.json'
// ).then((res) => res.json());

// const redirects = await fetch(
//   'http://victim-assist.com/.netlify/functions/neo-api-redirects'
// ).then((res) => res.json());

// console.log(redirects)

// let combinedResponses = [].concat(redirects.message);

// let finalResponses = {message:combinedResponses}


 let response2 = {
  message: [
    
 
 
    {
"path": "joe-corley-detention-facility-geo-ice",
"statusCodeMatch": "200",
"facId": "64459-2",
"state": "texas",
"LandingPage": "https://victim-assist.com/jail-prisons/texas/joe-corley-detention-facility-geo-ice/64459-2/send-inmate-money-commissary/",
"slug": "send-inmate-money-commissary",
"redirectUrl3": "https://victim-assist.com/jail-prisons/texas/joe-corley-detention-facility-geo-ice/send-inmate-money-commissary/"
  },

  {
"path": "catahoula-parish-jail",
"statusCodeMatch": "200",
"facId": "69725-2",
"state": "louisiana",
"LandingPage": "https://victim-assist.com/jail-prisons/louisiana/catahoula-parish-jail/69725-2/send-inmate-money-commissary/",
"slug": "send-inmate-money-commissary",
"redirectUrl3": "https://victim-assist.com/jail-prisons/louisiana/catahoula-parish-jail/send-inmate-money-commissary/"
  }
    
  ]
}

// let slugs = ['visitation', 'write-a-prisoner']
// let allFacs = slugs.map( slug=>{

//   return slug;
// } )

// let response2 
// let newFacs = finalResponses.message.map( (res: {
  let newFacs = response2.message.map( (res: {
    path: string, 
    statusCodeMatch: string,
    facId: string, 
    state: string,
    LandingPage:string,
    slug:string,
    redirectUrl3:string,
   

}) =>{
      
      let {path, statusCodeMatch, facId, state,    LandingPage, slug, redirectUrl3, } = res
      slug == undefined || slug == '' ? slug=' ' : slug;
      // let isString = typeof state  ? slug=' ' : slug;
      state = typeof state == 'string' ? state : 'unknown';
      facId = typeof facId == 'string' ? facId : 'unknown';
      path = typeof path == 'string' ? path : 'unknown';
      facId =  facId.includes('?') ? 'unknown' : facId;
      
      // console.log(54545455,state)// let stateLower = state.toLowerCase();
      // facility = facility.replace(/\s/g , "-").replace("/" , " "); 
      // facilityName = facilityName.replace(/\s/g , "-").replace("/" , " "); 
      // console.log(7444,state,stateName,44232, slug);
      // console.log(typeof slug, slug, facId, path,LandingPage,5757333995663333, state, redirectUrl3,path );

    // slug='write-a-prisoner'

  //   facility = facility.replace("/" , " ")
  // facilityName = facilityName.replace("/" , " ");
  // title = title.replace("/" , " ");
      let finalUrl = { 
        
        params: { state, path, facId, slug }, 
          props:  { post:{
            path, statusCodeMatch, facId, state:state,    LandingPage, slug, redirectUrl3
        }
      } 
    }

   
    return finalUrl

})

  return newFacs.map((post: { params: any }) => {
// console.log(545454545,post)
    return {
      params:  post.params as any ,
      props: { post } };
  });



}


// console.log("and ld slug is:", oldFacSlug, path, statusCodeMatch, state, facId, "and redirec is: ", redirectUrl3 );

---

<!-- <Base frontmatter={frontmatter}> -->
  
  <head>
    <meta http-equiv="refresh" content={`0; url=${redirectUrl3}`} />
  </head>
  <!-- <Sections data={post} stateName={state as string} statePath={facility as string} 
  facilityName={post.props.post.title as string}  type={"facility-page"} slug={slug as string}  />
  
  <FacilityBlogRoll 
  data={post} stateName={state as string} statePath={facility as string} 
  facilityName={post.props.post.title as string}  type={"facility-page"} slug={slug as string}/>
  
  <BodySections data={post} stateName={state as string} statePath={facility as string} 
  facilityName={post.props.post.title as string}  type={"facility-page"} slug={slug as string} /> -->
   
  <!-- <CTA type="how-it-works" /> -->
  <div class="p-24 md:p-12 bg-white dark:bg-black"></div>
 
<!-- </Base> -->